# joke
http://i.youku.com/u/UMzcyMzM2NzA4/playlists  joke|list
http://i.youku.com/u/UNTMxOTkwNjA0/playlists joke|list
http://i.youku.com/u/UNjg2MDc1MTY=/playlists joke|list
http://i.youku.com/u/UNzQ0NzYyODg=/playlists joke|list
http://i.youku.com/u/UMzczNjE5Mzg4/playlists joke|list
http://i.youku.com/u/UMTM5MTMwNjA=/playlists joke|list
http://i.youku.com/u/UMTMxNzUyNTM0OA==/playlists joke|list
http://i.youku.com/u/UMTQzOTMzOTY5Mg==/playlists joke|list
http://i.youku.com/u/UMTI4MDQzNDg2MA==/playlists joke|list
http://i.youku.com/u/UMzk3MDU5Mjg0/playlists joke|list
http://i.youku.com/u/UODU1ODc1NTI=/playlists joke|list
http://i.youku.com/u/UNTY5MDQ5Njcy/playlists joke|list
http://i.youku.com/u/UMzc5MzMxMDI0/playlists joke|list
http://i.youku.com/u/UMTQ1Mjk1NDk4OA==/playlists joke|list
http://i.youku.com/u/UNzY4NDEyMDA=/playlists joke|list
#
##娱乐：
http://i.youku.com/u/UNTg2NTU4MDQ4/playlists ent|list
http://i.youku.com/u/UNjEzNDg2MzI=/playlists ent|list
http://i.youku.com/u/UMTQ1MzA0Njk5Mg==/playlists ent|list
http://i.youku.com/u/UNDM1OTEyNzg0/playlists ent|list
